* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: paleturquoise;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: palevioletred;
    font-style: oblique;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;

}

h2 {
    justify-content: center;
    text-align: center; 
background-color: pink;
}
div{
    color: black;
    background-color: papayawhip;
    text-align: center ;
}